rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
    match /messages/{messageId} {
      allow read: if true;
      allow create: if request.resource.data.imageData.size() < 2097152 && 
                       get(/databases/$(database)/documents/users/$(request.resource.data.recipientId)).data.paymentStatus == 'paid';
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.recipientId;
    }
  }
}
